/* .banner{
    background-color: rgb(199, 239, 199);
} */

/* h1{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 255, 68);
}

@media only screen and (max-width: 768px) {
    
    h5{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(0, 255, 68);
    }
    
  } */