/* body{

  font-family:Arial, Helvetica, sans-serif;
} */

.navbar{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  padding: 20px;

}
nav{ background-color: rgb(95, 153, 74);
  flex: 1;
  text-align: right;

}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #555;

}